.h1{color: green;}
.p{color: red;}
.h2{text-decoration: underline; 
    font-weight: bold} 
.p2{color: orange;
font-weight: bold}
.p3{color: orange;}
.p4{font-weight: bold;
font-style: italic;}